*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    Margin: 0;
}
body{
    background: gray;
}
#wrapper{
    width: 100%;
    min-width: 960px;
    margin: 4 auto;
}
#flex-cont{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
}
#box one{
    min-width: 450px;
    height: 300px;
    margin-top: 400px;
    padding-bottom: 400px;
    background-color: azure;
    justify-content: center;
    align-items: center;
}
#box two{
    min-width: 450px;
    height: 300px;
    margin-top: 400px;
    padding-bottom: 400px;
    background-color: azure;
    justify-content: center;
    align-items: center;
}
#box three{
    min-width: 450px;
    height: 300px;
    margin-top: 400px;
    padding-bottom: 400px;
    background-color: azure;
    justify-content: center;
    align-items: center;
}
#box four{
    min-width: 550px;
    height: 600px;
    margin-top: 400px;
    padding-bottom: 400px;
    background-color: azure;
    justify-content: center;
    align-items: center;
}